/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wilto\/Sites\/_RICG\/Sizer-Soze-frontend\/app\/styles\/layout\.scss}line{font-family:\000033}}
#container {
  padding: 0;
  margin: 0 auto;
  max-width: 60em;
}

/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/
@media screen and (max-width: 45em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wilto\/Sites\/_RICG\/Sizer-Soze-frontend\/app\/styles\/layout\.scss}line{font-family:\0000313}}
  .breakpoint {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wilto\/Sites\/_RICG\/Sizer-Soze-frontend\/app\/styles\/layout\.scss}line{font-family:\0000318}}
  .section {
    width: 100%;
    margin-bottom: 2%;
    padding: 10px 0px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wilto\/Sites\/_RICG\/Sizer-Soze-frontend\/app\/styles\/layout\.scss}line{font-family:\0000323}}
  .section p {
    margin-bottom: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wilto\/Sites\/_RICG\/Sizer-Soze-frontend\/app\/styles\/layout\.scss}line{font-family:\0000326}}
  footer li {
    width: 100%;
    margin-bottom: 2%;
    padding: 10px 0;
    text-align: center;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wilto\/Sites\/_RICG\/Sizer-Soze-frontend\/app\/styles\/layout\.scss}line{font-family:\0000332}}
  footer li.social {
    text-align: center;
  }
}
@media screen and (max-width: 20em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wilto\/Sites\/_RICG\/Sizer-Soze-frontend\/app\/styles\/layout\.scss}line{font-family:\0000338}}
  #container {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wilto\/Sites\/_RICG\/Sizer-Soze-frontend\/app\/styles\/layout\.scss}line{font-family:\0000339}}
  header {
    padding: 30px 15px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wilto\/Sites\/_RICG\/Sizer-Soze-frontend\/app\/styles\/layout\.scss}line{font-family:\0000343}}
  .secondary-content {
    padding: 30px 15px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wilto\/Sites\/_RICG\/Sizer-Soze-frontend\/app\/styles\/layout\.scss}line{font-family:\0000347}}
  .third-content {
    background-color: #f9c1bf;
    margin-bottom: 10px;
    padding: 30px 15px;
    position: relative;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wilto\/Sites\/_RICG\/Sizer-Soze-frontend\/app\/styles\/layout\.scss}line{font-family:\0000353}}
  footer {
    padding: 30px 15px;
  }
}
