@import "libs/tablesaw.stackonly";

body {
  padding: 10px;
  margin: 0;
}
header {
  background-color: #7f1b18;
  margin-bottom: 10px;
  padding: 30px 20px;
}
.secondary-content,
.fourth-content {
  background-color: #ec6a6a;
  margin-bottom: 10px;
  padding: 30px 50px 10px;
  position: relative;
}
.fourth-content {
  padding-bottom: 60px;
}
.third-content {
  background-color: #f9c1bf;
  margin-bottom: 10px;
  padding: 30px 50px;
  position: relative;
}

.loading {
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  margin: 0 0 0 -5px;
}
.loading img {
  display: block;
  margin: 0 auto;
}
.loading p {
  display: block;
  margin: 0 auto;
  font-size: .9em;
}
footer {
  background-color: #f4f2ef;
  margin-bottom: 10px;
  padding: 30px 50px;

  ul {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    float: left;
    width: 33%;
    font-family: Lato, sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #999;
    line-height: 1.5;
    text-align: center;

    &.linksources {
      line-height: 15px;
      padding: 15px 0;

      a {
        text-decoration: none;
        color: #999;

        &:hover {
          text-decoration: underline;
          color: #7f1b18;
        }
      }
    }
  }

  .social {
    text-align: right;
    line-height: 60px;

    a {
      text-decoration: none;
      color: #7f1b18;
      font-size: 25px;
      margin-right: 10px;

      &:hover {
        color: #ec6a6a;
      }
    }

  }

  .credits {
    h2 {
      color: #7f1b18;
      font-size: 1.5em;
      font-weight: bold;
    }
    p {
      font-size: 1.3em;
      color: #555;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .ricg {
    position: relative;

    a {
    max-width: 200px;
    display: block;
    margin: 0 auto;
    }

    @media ( min-width: 45em ) {
        width: 20%;
        float: right;
        a {
          margin: 0;
        }
      }

    p {
      margin: 0;
    }

    a {
      text-decoration: none;

      &:hover {
        p {
          color: #7f1b18;
        }

        h4 {
          color: #7f1b18;
        }
      }
    }

    h4 {
      margin: 0 0 0 80px;
      font-family: Lato, sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: #333;
      line-height: 24px;
      text-align: left;
    }

    p {
      margin: 0 0 0 80px;
      padding: 0;
      font-size: 10px;
      font-family: Lato, sans-serif;
      color: #999;
      font-weight: 500;
      text-align: left;
    }
  }

  .logo {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.title {
  font-family: Lato, sans-serif;
  font-size: 5em;
  text-align: center;
  font-weight: 300;
  color: #fff;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.subtitle {
  font-family: Lato, sans-serif;
  font-size: 1em;
  text-align: center;
  font-weight: 100;
  color: #f4f2ef;
  margin: 0 0 50px;
  text-transform: uppercase;
}

.breakpoint {
  position: relative;
  opacity: 1;

  -webkit-transition: opacity 0.5s ease, width 0.3s ease, margin 0.3s ease, max-height 0.3s ease;
  -moz-transition: opacity 0.5s ease, width 0.3s ease, margin 0.3s ease, max-height 0.3s ease;
  transition: opacity 0.5s ease, width 0.3s ease, margin 0.3s ease, max-height 0.3s ease;
  max-height: 500px;
}
.breakpoint.fadein {
  opacity: 1;
}
.breakpoint.fadeout {
  opacity: 0;
}
a.icon-remove {
  display: block;
  position: absolute;
  top: .5em;
  right: .5em;
  text-indent: -999px;
  overflow: hidden;
  width: 1.75em;
  height: 1.75em;
}
.breakpoint:first-child a.icon-remove {
  display: none;
}
a.icon-remove:active {
  margin-top: 1px;
}
a.add-bp {
  color: #7f1b18;
  display: block;
  float: left;
  font-family: Lato, sans-serif;
  clear: both;
  margin: 1em 0 .5em 0;
  padding: .1em 0 .5em 2em;
  text-decoration: none;
}
a.add-bp:active {
  position: relative;
  top: 1px;
}
.get-results {
  background-color: #9a2424;
  background-position: center center;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9999px;
  width: 5em;
}

.logo {
  margin: 50px auto 20px;
  width: 50px;
  height: 50px;
  background-image: url('../images/logo.jpg');
  background-size: 100%;
  text-indent: -9999px;
  border: 4px solid #fff;
  border-radius: 5px;
}
.section {
  float: left;
  width: 33%;
  padding: 25px 0;

  .iconbg {
    width: 80px;
    height: 80px;
    margin: 25px auto 0;
    background-color: #fff;
    background-position: center center;
    border-radius: 40px;
    position: relative;

    i {
      font-size: 41px;
      color: #7f1b18;
      position: relative;
      top: 20px;
      left: 23px;
    }
  }

  h1 {
    font-family: Lato, sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #640f09;
    margin: 25px 0 20px;
    position: relative;
    text-align: center;
  }

  p {
    padding: 0 25px;
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #7f1b18;
    line-height: 1.5;
  }

  .arrow-down-bg {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #fff;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    z-index: 999;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid #f9c1bf;
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -35px;
    z-index: 1000;
  }
}

.sizer-results {
  font-family: Lato, sans-serif;

  h1 {
    font-family: Lato, sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #640f09;
    margin: 25px 0 20px;
    position: relative;
    text-align: center;
  }

  @include tablesaw-stack( 45em );

  .tablesaw-stack tbody tr {
    border-color: #ec6a6a;
  }

  table {
    width: 100%;

    td, th{
      padding: .5em;
    }

    th {
      font-weight: bold;
      text-align: left;
    }
    tbody {
      border-top: 1px solid #ec6a6a;
    }
    td{
      text-align: right;
    }
    td b {
      display: table-cell;
      float: left;
      clear: left;
      vertical-align: bottom;
      text-align: left;
    }
    td:last-child {
      color: #9a2424;
      font-weight: bold;
      font-size: 1.4em;
    }
    td:last-child b {
      color: #333;
      font-size: .7em;
    }
  }

  @media ( min-width: 45em ) {
    table{
      td{
        text-align: left;
      }
      thead {
        border-bottom: 1px solid #ec6a6a;
      }
      tbody {
        border-top: none;
      }
      thead tr th {
        font-size: .9em;
        padding-bottom: .25em !important;
      }
      thead th:last-child {
        text-align: right;
      }
    }
  }
}
@media ( min-width: 45em ) {
  .sizer-results table td:last-child {
    text-align: right;
  }
}
.input {
  padding: 15px 30px;
  margin: 15px 0 10px;
  border: 5px #9a2424 solid;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}

.url {
  width: 100%;
  padding: 0;
  font-size: 15px;
  font-family: Lato, sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  border-radius: 5px;
  outline: 0;
  border: 0;
}

.section-title {
  font-family: Lato, sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #9a2424;
  margin: 20px 0;
  text-align: center;
}

.breakpoints {
  padding: 20px 0;
}

.breakpoint {
  width: 23%;
  margin-right: 2%;
  margin-top: .6em;
  float: left;
  background-color: #f49f9f;
  border-radius: 5px;

  .inner {
    margin: 20px 20px;
    padding: 0 0 20px;
  }

  h3 {
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #9a2424;
    margin: 0 0 10px;
    text-align: left;
    position: relative;

    i {
      position: absolute;
      right: 0;
      top: 0;
      color: #ed8484;
    }
  }

  .input {
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 5px 0;
    border: 1px #7f1b18 solid;
    border-radius: 5px;
  }

  input {
    width: 100%;
    font-size: 18px;
    font-family: Lato, sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    outline: 0;
    text-align: right;
    border: 0;
  }

  select {
    float: right;
    font-size: 15px;
  }

  &:hover i {
    color: #9a2424;
  }

  &.new {
    background-color: transparent;

    h3 {

      a {
        color: #bf3939;
        text-decoration: none;

        &:hover {
          color: #7f1b18;

          i {
            color: #7f1b18;
          }
        }
      }

      i {
        float: left;
        color: #bf3939;
        position: static;
        margin-right: 5px;
      }

      &:hover {
        i {
          color: inherit;
        }
      }
    }
  }

}

